  /* 検索欄*/
  .select {
    text-align: left;
    margin-left: 90px;
  }

  /*検索欄DIV*/
  .select-div {
    margin-bottom: 20px;
  }

  /*左缩进20*/
  .margin-left-20 {
    margin-left: 20px;
  }

  /*左缩进50*/
  .margin-left-50 {
    margin-left: 50px;
  }

  /*左缩进100*/
  .margin-left-100 {
    margin-left: 100px;
  }


  /* 表格标题居中*/
  .table-center th {
    text-align: center;
  }

  /* 错误消息样式 */
  .error-message {
    color: red;
    text-align: center;
    margin-bottom: 20px;
  }