.menu-container {
  width: 250px;
  padding: 1rem;
  background-size: cover;
  border-right: 1px solid #ddd;
  min-height: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: "Arial", sans-serif;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.company-logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.system-title {
  color: #333;
  font-size: 1.3rem; /* 缩小字体大小 */
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* PanelMenu的自定义样式 */
.custom-panelmenu .p-panelmenu-header {
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  padding: 1rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  border-top-left-radius: 15px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 15px;
}

.custom-panelmenu .p-panelmenu-header:hover {
  background-color: rgba(240, 240, 240, 0.8);
}

.custom-panelmenu .p-panelmenu-content {
  border: none;
  background: transparent;
}

.custom-panelmenu .p-panelmenu-panel {
  margin-bottom: 0.5rem;
  border: none;
}

.custom-panelmenu .p-panelmenu-header-link {
  color: #333;
  font-size: 16px;
}

.custom-panelmenu .p-panelmenu-header-icon {
  color: #333;
}

.custom-panelmenu .p-panelmenu-header-link:hover {
  color: #007bff;
}

.custom-panelmenu .p-menuitem-link {
  padding: 10px 20px;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
  color: #333;
  margin-left: 10px;
}

.custom-panelmenu .p-menuitem-link:hover {
  background-color: rgba(233, 236, 239, 0.8);
  color: #007bff;
}

.custom-panelmenu .p-menuitem-icon {
  margin-right: 10px;
}

.custom-panelmenu .p-menuitem-text {
  font-size: 14px;
}

/* 子菜单项的样式 */
.custom-panelmenu .p-submenu-list .p-menuitem-link {
  padding: 10px 20px;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
  color: #333;
  margin-left: 20px;
}

.custom-panelmenu .p-submenu-list .p-menuitem-link:hover {
  background-color: rgba(233, 236, 239, 0.8);
  color: #007bff;
}

.custom-panelmenu .p-menuitem-link.p-highlight {
  background-color: #007bff;
  color: white;
}

.custom-panelmenu .p-menuitem-link.p-highlight:hover {
  background-color: #0056b3;
  color: white;
}
