.search-bar {
  display: flex;
  align-items: left;
  align-items: center;
  margin-bottom: 20px;
  gap: 20px;
  padding: 10px;
  width: 250px;
  border: 1px solid #ddd;
  border-radius: 4px;
}



  /*向下填充20px*/
  .margin-bottom-20 {
    margin-bottom: 20px;
  }

  /* 表格标题居中*/
  .table-center th {
    text-align: center;
  }

