.search-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.search-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.input-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.input-group select{
  min-width: 100px;
}

.input-group input {
  min-width: 250px;
}


.search-button {
  background-color: #28a745;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-button:hover {
  background-color: #218838;
}

/* Optional: Adjust button width for better alignment */
.search-button {
  flex: 0 0 120px;
  /* Adjust width as needed */

}

/*左缩进85*/
.margin-left-85 {
  margin-left:85px;
}

.kr-table {
  width: 100%;
  border-collapse: collapse;
}

.kr-table th,
.kr-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.description-list {
  padding: 0;
  /* Remove padding to fit within table cells */
}

dl {
  margin: 0;
  padding: 0;
}

dt {
  font-weight: bold;
  margin-top: 5px;
}

dd {
  margin: 0;
  margin-bottom: 10px;
}

