.search-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.search-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.input-group input{
  min-width: 200px;
}

.search-date,
.search-select,
.search-input,
.search-button {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  height: 40px;
  box-sizing: border-box;
}

.search-label {
  white-space: nowrap;
  display: flex;
  align-items: center;
  font-size: 14px;
  /* 调整字体大小 */
  font-weight: 500;
  /* 调整字体粗细 */
  font-family: Arial, sans-serif;
  /* 调整字体类型 */
  color: rgb(102, 102, 102);
  /* 调整字体颜色 */
}

.search-button {
  background-color: #28a745;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-button:hover {
  background-color: #218838;
}

/* Optional: Adjust button width for better alignment */
.search-button {
  flex: 0 0 120px;
  /* Adjust width as needed */
}