.search-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.search-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.input-group select {
  min-width: 100px;
}

.input-group input {
  min-width: 250px;
}

.search-button {
  background-color: #28a745;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-button:hover {
  background-color: #218838;
}

/* Optional: Adjust button width for better alignment */
.search-button {
  flex: 0 0 120px;
  /* Adjust width as needed */
}

/*左缩进85*/
.margin-left-85 {
  margin-left: 85px;
}

td {
  text-align: center;
  padding: 2px 6px;
  line-height: 0.2;
}

.col-title {
  font-size: 13px;
}

.col-data {
  text-align: right;
  font-size: 13px;
}

table {
  border-spacing: 0 10px; /* 水平和垂直方向的间距 */
}

.row-border {
  border-bottom: 3px solid #dddddd; /* 自定义合适的颜色和宽度 */
}
/* 强制居中 */
.force-center {
  text-align: center !important;
  vertical-align: middle !important;
}

/* 加粗字体 */
.font-weight {
  font-weight: bold;
}

/* 隐藏 Checkbox 选中时的钩子 */
.ant-checkbox-checked .ant-checkbox-inner::after {
  display: none; /* 隐藏钩子 */
}

/* 确保选中时背景颜色仍然可以显示 */
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #009fff; /* 自定义背景颜色 */
  border-color: #009fff; /* 自定义边框颜色 */
}

.custom-checkbox {
  height: 0px; /* 设置复选框的高度 */
  line-height: 6px; /* 设置行高，使文字和复选框垂直居中 */
}

.text-right {
  text-align: right;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  gap: 16px; /* Optional: Adjust gap between items */
}

.modal-item {
  display: flex;
  align-items: center; /* Center items vertically */
  gap: 8px; /* Optional: Adjust gap between label and input */
}
